{% extends 'base.html' %} {% import 'macros.html' as macro%} {% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row set">
                {{macro.displayCategory(category)}}

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}